@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

background-color:var(--bg);

color:var(--text);

transition:
background-color .4s ease,
color .4s ease;

}

:root{

--bg:#0f172a;

--surface:#1e293b;

--text:#ffffff;

--primary:#3b82f6;

--secondary:#38bdf8;

--gray:#94a3b8;

--transition:.35s ease;

--radius:18px;

}

[data-theme="dark"]{

--bg:#0f172a;

--surface:#1e293b;

--primary:#3b82f6;

--secondary:#38bdf8;

--text:#f8fafc;

--gray:#94a3b8;

}

[data-theme="light"]{

--bg:#f8fafc;

--surface:#ffffff;

--primary:#2563eb;

--secondary:#3b82f6;

--text:#0f172a;

--gray:#475569;

}

section{

padding:100px 10%;

min-height:100vh;

position:relative;

z-index:5;

}

.container{

max-width:1200px;

margin:auto;

}

button{

transition:.3s;

cursor:pointer;

}

button:hover{

transform:translateY(-3px);

}

img{

transition:.4s;

}

img:hover{

transform:scale(1.03);

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-track{

background:var(--bg);

}

::-webkit-scrollbar-thumb{

background:var(--primary);

border-radius:20px;

}

.card{

background:var(--surface);

border-radius:18px;

padding:25px;

transition:.35s;

box-shadow:0 10px 35px rgba(0,0,0,.25);

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 15px 40px rgba(59,130,246,.25);

}

.btn{

display:inline-block;

padding:14px 30px;

background:var(--primary);

color:white;

border-radius:50px;

text-decoration:none;

transition:.35s;

font-weight:600;

}

.btn:hover{

background:var(--secondary);

transform:translateY(-3px);

}

.btn-outline{

display:inline-block;

padding:14px 30px;

border:2px solid var(--primary);

color:var(--text);

border-radius:50px;

text-decoration:none;

transition:.35s;

}

.btn-outline:hover{

background:var(--primary);

}

